* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000;
}

.container {
  max-width: 1454px;
  margin: 0 auto;
  padding: 20px;
}

/* header start */
.header{
  position: fixed;
  width: 100%;
  background-color: #000;
  z-index: 100;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 135px;
}

.header .container nav ul li button {
  background: #ff6300;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
}

.header .container nav ul li button:hover {
  opacity: 0.9;
}

.header .container nav ul li button:active {
  transform: scale(0.95);
}

/* header end */

/* home start */

.home .home-top {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home .container .home-left {
  width: 50%;
}

.home .container .home-left p {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #FBFBFB;
}

.home .container .home-left .name {
  font-size: 32px;
  line-height: 48px;
  color: #FF6300;
}

.home .container .home-left h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  letter-spacing: 0.03em;
  color: #FBFBFB;
}

.home .container .home-left .home-text {
  margin-top: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #FBFBFB;
}

.home .container .home-left a {
  margin-top: 29px;
  display: inline-block;
  padding: 11px 52px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: justify;
  letter-spacing: 0.03em;
  background: #FF6300;
  border-radius: 5px;
  color: #FFFFFF;
}

.home .container .home-left a:active {
  transform: scale(0.95);
}

.home .container .home-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .container .home-right .social-media {
  margin-top: 20px;
}

.home .container .home-right .social-media a {
  font-size: 25px;
  margin-right: 25px;
  color: #fff;
}

.home .container .home-right .social-media a:hover {
  color: #eeeded;
}

.home-bottom {
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.home-bottom .home-bottom-right {
  width: 50%;
}

.home-bottom .home-bottom-right h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 98px;
  letter-spacing: 0.03em;
  color: #FBFBFB;
}

.home-bottom .home-bottom-right p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #FBFBFB;
}

.home-bottom .home-bottom-right h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.03em;
  color: #FBFBFB;
  margin: 15px 0 18px 0;
}

.home-bottom .home-bottom-right .progress-item {
  width: 100%;
  height: 12px;
  background: #EDECEC;
  border-radius: 6px;
  position: relative;
}

.home-bottom .home-bottom-right .progress-item .bar {
  top: 0;
  left: 0;
  width: 93%;
  height: 12px;
  position: absolute;
  background: #FF6300;
  border-radius: 6px;
}

.home-bottom .home-bottom-right .progress-item .bar2 {
  width: 85%;
}

.home-bottom .home-bottom-right .progress-item .bar3 {
  width: 89%;
}

.home-bottom .home-bottom-right .progress-item .bar4 {
  width: 82%;
}

.home-bottom .home-bottom-right .progress-item .circle {
  top: -64%;
  left: 92%;
  width: 28px;
  height: 28px;
  position: absolute;
  border-radius: 50%;
  background: #EDECEC;
  border: 3px solid #FF6300;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.2);
}

.home-bottom .home-bottom-right .progress-item .circle2 {
  left: 84%;
}

.home-bottom .home-bottom-right .progress-item .circle3 {
  left: 88%;
}

.home-bottom .home-bottom-right .progress-item .circle4 {
  left: 81%;
}

/* home end */

/* services start */
.services-card {
  display: flex;
  gap: 31px;
  margin-top: 60px;
}

.services-card .services-card-1 {
  width: 330px;
  height: 346px;
  background: #f3f3f3;
  border-radius: 14px;
  padding: 57px 18px;
  transition: all 0.7s ease;
}

.services-card .services-card-1:hover {
  transform: scale(1.1);
  background-color: #efc6a7;
}

.services-card-1 h1 {
  font-weight: 600;
  font-size: 32px;
  margin-top: 23px;
  margin-bottom: 15px;
  line-height: 48px;
  color: #000000;
}

.services-card-1 p {
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #000000;
}

/* services end */

/* my section */
.project-title h1 {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 65px;
  line-height: 98px;
  color: #fbfbfb;
  margin-bottom: 15px;
  margin-top: 114px;
}

.project-title p {
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.03em;
  margin: 0 auto;
  text-align: center;
  color: #fbfbfb;
  width: 932px;
  /* border: 1px solid red; */
}

.project-tab-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding: 76px 0;
}

.project-tab-bar ul li a {
  padding: 10px 15px;
  background: #f3f3f3;
  border-radius: 8px;
  color: #000;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  transition: all 0.6s ease;
}

.project-tab-bar ul li:hover a {
  background: #fd6f00;
  color: white;
}

.project-tab-bar ul li a.active {
  background: #fd6f00;
  color: white
}

.project .tabcontent {
  display: none;
}

.tabcontent {
  animation: fadeEffect 1s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
}

.testimonials {
  margin: 0 auto;
  position: relative;
}

.mySwiper {
  max-width: 1920px;
  height: 344px;
  margin-top: 80px;
}

.testimonials-right {
  margin-left: 30px;
}

.swiper-slide {
  width: 1087px !important;
  font-size: 18px;
  background-color: white;
  border-radius: 14px;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  padding: 55px 77px 54px 44px;
  opacity: 0.3;
  transition: all 0.3s ease !important;
}

.swiper-slide-active {
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-slide p {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #424242;
}

.swiper-slide h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
  margin-top: 10px;
}

.swiper-slide h5 {
  font-style: normal;
  font-weight: 400;
  font-size: 19px;
  line-height: 28px;
  text-align: justify;
  letter-spacing: 0.03em;
  color: #000000;
}

.swiper-slide .testimonial-symbol-1 {
  position: absolute;
  top: -10px;
  left: -18px;
}

.swiper-slide .testimonial-symbol-2 {
  position: absolute;
  bottom: 0px;
  left: 168px;
}

span.swiper-pagination-bullet {
  background-color: #D9D9D9;
  opacity: 1;
  width: 57px;
  height: 16px;
  border-radius: 8px;
  margin-bottom: -100px !important;
}

span.swiper-pagination-bullet-active {
  background: #FD6F00 !important;
}


.desigin form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 80px;
  margin-bottom: 112px;
}

.desigin form .input-email {
  width: 627px;
  padding: 22px 26px;
  background: #f8f8f8;
  border: 1px solid #afafaf;
  border-radius: 14px;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #797979;
  outline: none;
}

.desigin .input-contact {
  padding: 20px 36px;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #fd6f00;
  cursor: pointer;
  border-radius: 14px;
  transition: all 0.7s ease;
  outline: none;
}

.desigin .input-contact:hover {
  opacity: 0.9;
}

.desigin .input-contact:active {
  transform: scale(0.95);
}

.footer-logo {
  text-align: center;
  margin-bottom: 88px;
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 41px;
}

.nav ul li a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #fbfbfb;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  transition: all 0.5s ease;
}

.nav ul li:hover a {
  opacity: 0.8;
  border-bottom: 2px solid white;
}

.footer-network {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 90px;
  margin-bottom: 62px;
}

.footer-bottom {
  padding: 26px 0;
  text-align: center;
  background: #121212;
}

.footer-bottom h1 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-bottom h1 span {
  color: #fd6f00;
}

/* my section */